html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*
=====================================
Name Animation
=====================================
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #212121;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

svg {
  width: 100%;
  height: 100%;
  font: 125px/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}
/*
=====================================
Nav Bar
=====================================
*/
.nav-bar {
    background-color: #F8F9FA;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 1;
}
.nav-div {
    justify-content: center;
}
.logo {
    text-align: center;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.nav-but {
    color: black;
    text-decoration: none;
    font-size: 12px;
    margin: 3px;
}
/*
=====================================
Jumbotron
=====================================
*/
.banner {
    background-color: #F8F9FA;
    margin-top: 56px;
    height: 400px;
    position: relative;
} 
.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px dotted tan;
    height: 230px;
  }
.banner-figure {
    padding-top: 20px;
}
.banner-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.banner-name {
    font-size: 2.5rem;
}

.intro {
    text-align: center;
    padding-bottom: 32px;
}

#bio {
    height: 400px;
    overflow: scroll;
}

.icon-container {
    font-size: 75px;
    text-align: center;
    margin: 28px;
}

.portfolio-container {
    /* height: 100%;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}

.card-container {
    min-width: 100%;
    height: 300px;
    display: flex;
    overflow-x: auto;
}

.card-container::-webkit-scrollbar {
    display: none;
  }

.portfolio-item {
    min-width: 18em;
    position: relative;
    margin-left: 10px;
}

.portfolio-link {
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 10px;
}
a:hover {
    text-decoration: none;
    color: hotpink;
    cursor: pointer;
}

#bio, .contact {
    margin: 0 20px 20px 20px;
    padding-right: 50px;
}

.card-img-top {
    height: 125px;
}

@media only screen and (min-width: 576px) {
    .banner {
        height: 430px;
        padding: 32px 0 32px 0;
    }
    /* .lead {
        position: absolute;
        bottom: 35px;
        left: 35%;
    } */
}

@media (min-width:801px)  {
    .banner {
        height: 450px;
    }
    /* .lead {
        position: absolute;
        bottom: 76px;
        left: 39%;
    }
    svg {
        margin: -5px 0 0 0;
    } */
}
